.App {
  text-align: center;
}
label {
    display: inline-block;
    width: 100px; /* Adjust the width as needed for proper alignment */
    text-align: left;
}

/* Apply left alignment to the radio buttons */
input[type="radio"] {
    margin-right: 5px; /* Add some spacing between the radio buttons and labels */
    vertical-align: middle;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


