.App {
  text-align: center;
}
label {
    display: inline-block;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

form{
  border: 1px dotted;
  margin: auto 100px;
}
table, th, td {
  border: 1px solid;
  display: flex;
}

.ingtable{
  padding-top:100px;
  background-color:aquamarine;
}

.namefields {
  display: flex;
  width: 100px;
  height: 3vh;
  margin:50px;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


